.home-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .sections-container {
    scroll-snap-type: y mandatory; /* Enables smooth scrolling */
    height: 100vh;
  }
  
  .section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    scroll-snap-align: start;
    color: rgb(0, 0, 0);
    font-size: 3rem;
  }
  
  .section-1 {
    background-color: #ffffff; /* Tomato */
  }

  .section-1 h1{
    color: #ff4929;
  }
  
  .section-2 {
    background-color: #f7f7f7; /* Medium Sea Green */
  }

  .section-2 h1{
    color: #32CD32;
  }
  
  .section-3 {
    background-color: #ffffff; /* Dodger Blue */
  }

  .section-3 h1{
    color: #1E90FF;
  }
  
  .section-4 {
    background-color: #f7f7f7; /* Medium Purple */
  }

  .section-4 h1{
    color: #FFD700;
  }
  
  /* Smooth scrolling */
  html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
  