.experience-container{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100dvw;
    height: 90%;
    margin-top: 0.5rem;
    overflow-y: scroll;

    background-color: red;
}